flask
flask-cors
langchain-openai
langchain
langgraph
transformers
datasets
evaluate
accelerate[torch]
tqdm
opencv-python
pyzbar
scikit-learn
pandas
SentencePiece
protobuf
langchain-community
pyaxmlparser
flask[async]
quart


